@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center; 
  /* for flex-direction: column, align-items: center will align items horizontally */
  /* for flex-direction: row, align-items: center will align items vertically */
  /* To align all our content vertically on the page, our body needs a height property.*/
  height: 100vh;
  /* justify-content: center allows us to align our content centered on the page */
  justify-content: center;
  /* no automatic scroll bars */
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  /* Initial value of flex are all the same, whereas the active class would have a much higher value */
  flex: 0.5;
  margin: 10px;
  /* Works with position: absolute; in .panel h3 */
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  /* Make headings invisible and only show when active */
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.panel.active h3 {
  opacity: 1;
  /* fade in headings after card has expanded */
  transition: opacity 0.3s ease-in 0.4s;
}

/* Media query to allow for smaller screens. 
Display full width of viewport to allow for more space &
display: none; for the last two panels on small screens  */

@media(max-width: 480px) { 
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4), 
  .panel:nth-of-type(5) {
    display: none;
  }
}
